* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body { 
    font:400 14px Roboto, sans-serif;
    background: #f0f0f5;
    -webkit-font-smoothing: antialiased;
}
form input{

    width: 70%;
    height: 40px;
    margin-right: 5px;
    border: 0;
    border-radius: 8px;
    color:black;
    font-weight: 700;
    margin-top: 16px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    line-height: 18px;
    transition: filter .2s;
    
}
.button {
    width: 20%;
    height: 40px;
    background: #1f12d8;
    border: 0;
    border-radius: 8px;
    color: #fff;
    font-weight: 700;    max-width: 1000px;

    margin-top: 16px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    line-height: 18px;
    transition: filter .2s;
    margin-left: 12px;
    margin-right: 2px;
}


.button:hover{
    filter: brightness(80%);
}




.profile-container {
    width: 50%;
    max-width: 1180px;
    padding: 0 30px;
    margin: 32px auto;
    margin-bottom: 10px;
    
}
.profile-container header{
    display: flex;
    align-items: center;

}
.image{
    width: 100%;
    margin-top: -35px;
    max-width: 1180px;
   height: 200px;
    margin-bottom: 10px;

}

.profile-container header span{
    font-size: 20px;
    margin-left: 24px;
}

.profile-container header img{
    height: 64px;
    
}

.profile-container header a {
    width: 260px;
    margin-left: auto;
    margin-top: 0;
}
.profile-container header button{
    height: 60px;
    width: 60px;
    border-radius: 4px;
    border: 1px solid #dcdce6;
    background: transparent;
    margin-left: 16px;
    transition: border-color 0.2s;
}
.profile-container header button:hover{
    border-color: #999;
}

.profile-container h1{
    margin-top: 10px;
    margin-bottom: 10px;
}

.grupobotoes {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    
}
#Allclear{
    background: rgb(216, 28, 28);
}

#update{
    position: absolute;
    right: 24px;
    top: 60px;
    border: 0;
}
.profile-container ul{
    display: grid;
    
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    list-style: none;

}

.profile-container ul li{
    background: #FFF;
    padding: 15px;
    border-radius: 8px;
    position: relative;
    transition: border-color 0.2s;
}
.profile-container ul li:hover{
    background: rgb(142, 162, 250);
}

.profile-container ul li button{
    position: absolute;
    right: 24px;
    top: 24px;
    border: 0;
}

.profile-container ul li button:hover{
    background: rgb(216, 28, 28);
    zoom: 1.1;

}
 #update:hover{
    background: rgb(28, 47, 216);
    zoom: 1.1;

}

.profile-container ul li strong{
    display: block;
    margin-bottom: 8px;
    color: #41414d;
}

.profile-container ul li p + strong{
    margin-top: 32px;
}

.profile-container ul li p{
    color: #606068;
    line-height: 21px;
    font-size: 16px;
    margin-bottom: 30px;
    margin-right: 30px;
}
